[Unit]
Description=PEPEPOW Pool Public API
After=network-online.target pepepow-pool-stratum.service
Wants=network-online.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/pool-pepepow/apps/api
EnvironmentFile=/home/ubuntu/pool-pepepow/ops/env/api.env
ExecStart=/usr/bin/python3 /home/ubuntu/pool-pepepow/apps/api/app.py
Restart=on-failure
RestartSec=3
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
